html{
    height:100%;
}

body{
    height:100%;
}
/* Remove the navbar's default margin-bottom and rounded borders */ 
.navbar {
    margin-bottom: 0;
    border-radius: 0;
    background-color: #37474F;
    border: 0px;
}

.navbar-brand{
    float: right;

}

.navbar-toggle{
    color: #37474F;
    float: left;
}

.dropdown-menu{
    padding: 0px;
}
.input-group #searchtext{
    background-color: #4f6457;
    background-color: white;
}
.btn-search-nav{
    background-color: #37474F;
    color: white;
}
.btn-search-nav:hover{
    background-color: #8085A3;
    color: white;
    background-color: white;
    color: #37474F;
}

/*.navbar-inverse .navbar-nav > .open > a {
color: white;
background-color: black;
}*/
.navbar-inverse .navbar-nav > li > a, .navbar-inverse .navbar-brand {
    color: white;
}
.navbar-brand:focus{
    background-color: aquamarine;
}
.navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    color: white;
    background-color: #37474F;
}
.navbar-nav > li > .dropdown-menu{
    color: white;
    background-color: #37474F;
}
.navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    color: #37474F;
    background-color: white;
}
.navbar-nav > li > .dropdown-menu{
    color: white;
    background-color: #37474F;
}

.navbar-nav .dropdown-menu > li > a{
    color: white;
    background-color: #37474F;
}
.dropdown-menu > li > a:hover {
    text-decoration: none;
    background-color: #8085A3;
    color: #242331;
    background-color: #37474F;
}
.dropdown-menu > li > a:hover {
    text-decoration: none;
    background-color: white;
    color: #37474F;
}
.dropdown-menu > li > a:focus {
    background-color: #8085A3;
}
/* Add a gray background color and some padding to the footer */


.carousel-inner img {
    width: 100%; /* Set width to 100% */
    margin: auto;
    min-height:200px;
}

/* Hide the carousel text when the screen is less than 600 pixels wide */
@media (max-width: 600px) {
    .carousel-caption {
        display: none; 
    }
}

/*--------------FOOTER--------------*/
.footer-basic-centered{
    background-color: #37474F;
    bottom: 0;

    /* Set the fixed height of the footer here */

    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: center;
    padding: 0px;

}
.footer-basic-centered .footer-links{
    padding: 1.6em 0 1.4em;

}

.footer-basic-centered .footer-links a{
    display:inline-block;
    text-decoration: none;
    font-size: 1.1em;
    margin-left:1em;
    margin-right:1em;
    color: white;
}
.footer-basic-centered .footer-links a:hover{
    display:inline-block;
    text-decoration: none;
    font-size: 1.1em;
    margin-left:1em;
    margin-right:1em;
    color: white;
}
/*--------------FINE FOOTER--------------*/

.modal-dialog.modal-lg{
    width: 90%;
}

#suggeriti{
    margin-top: 1em;
}

#tagsarticle{
    background-color: #eee;
    border-radius: 5px;
    margin-bottom: .6em;
}

#tagsarticle p{
    margin: .5em;
}

.container{
    margin-top: 2em;
    margin-bottom: 2em;
    min-height: 80%;
}

.textarticle{
    text-align: left;
}

.titlearticle{
    font-weight: bold;
}

.titlearticle.home{
    margin-top: .5em;
}

#path.row{
    margin-left: 0;
    margin-right: 0;
}

#path p{
    margin-left: 1em;
    margin-bottom: .4em;
    margin-top: .4em;
}

/*------- CSS RICERCA --------*/
.searchimg{
    width:70%;
    height:70%;
}

.row.search{
    margin-top: .5em;
    margin-bottom: .5em;
}

.input-group{
    width: 100%;
    float: right;
    margin-top: .5em;
}

@media only screen and (min-width : 768px) {
    .input-group{
        width: 15%;
        float: right;
        margin-top: .5em;
    }
}
/*------- FINE CSS RICERCA --------*/

@media (max-width: 600px) {
    .footer-basic-centered{
        padding: 35px;
    }

    .footer-basic-centered .footer-company-motto{
        font-size: 18px;
    }

    .footer-basic-centered .footer-company-name{
        font-size: 12px;
    }

    .footer-basic-centered .footer-links{
        font-size: 14px;
        padding: 25px 0 20px;
    }

    .footer-basic-centered .footer-links a{
        line-height: 1.8;
        color: white;

    }
    #path{
        width: 100%;
        padding-left: 2em;
    }

    #path p{
        margin-top: 3px;
        margin-bottom: 3px;
        font-size: .8em;
    }

    .input-group{
        width: 100%;
    }

    .container{
        margin-top: 2em;
        margin-bottom: 2em;
    }
}

/*---------- NAVBAR COLLAPSE --------- */

@media (max-width: 1200px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }
}
/*---------FINE NAVBAR COLLAPS----------*/

/*---------STEP CONFERENZE-------------*/
.stepwizard-step p {
    margin-top: 10px;
}
.stepwizard-row {
    display: table-row;
}
.stepwizard {
    display: table;
    width: 50%;
    position: relative;
}
.stepwizard-step button[disabled] {
    opacity: 1 !important;
    filter: alpha(opacity=100) !important;
}
.stepwizard-row:before {
    top: 14px;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 100%;
    height: 1px;
    background-color: #ccc;
    z-order: 0;
}
.stepwizard-step {
    display: table-cell;
    text-align: center;
    position: relative;
}
.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
}

#titolo{
    text-align: center;
    margin-bottom: 30px;
}
/*----------FINE STEP CONFERENZE---------*/

/*----------TAG CLOUD----------------*/
.teg-1
{
    font-size: 12px; 
    color: rgb(52, 152, 219);
}
.teg-2
{
    font-size: 16px; 
    color: rgb(52, 152, 219);
}
.teg-3
{
    font-size: 20px; 
    color: rgb(52, 152, 219);
}
.teg-4
{
    font-size: 28px; 
    color: rgb(52, 152, 219);
}
.teg-5
{
    font-size: 36px; 
    color: rgb(70, 207, 176);
}
/*----------FINE TAG CLOUD-------------*/