/* Remove the navbar's default margin-bottom and rounded borders */ 
.navbar {
    margin-bottom: 0;
    border-radius: 0;
    background-color: #37474F;

}

.navbar-brand{
    float: right;

}

.navbar-toggle{
    color: #BDBDBD;
    float: left;
}

.dropdown-menu{
    padding: 0px;
}
.input-group #searchtext{
    background-color: #37474F;
    color: white;
}
.btn-search-nav{
    background-color: #37474F;
    color: #BDBDBD;
}
.btn-search-nav:hover{
    background-color: #BDBDBD;
    color: #37474F;
}
/*.navbar-inverse .navbar-nav > .open > a {
color: white;
background-color: black;
}*/
.navbar-inverse .navbar-nav > li > a, .navbar-inverse .navbar-brand {
    color: #BDBDBD;
}
.navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    color: #37474F;
    background-color: #BDBDBD;
}
.navbar-nav > li > .dropdown-menu{
    color: #BDBDBD;
    background-color: #37474F;
}

.navbar-nav .dropdown-menu > li > a{
    color: #BDBDBD;
    background-color: #37474F;
}
.dropdown-menu > li > a:hover {
    text-decoration: none;
    background-color: #BDBDBD;
    color: #37474F;
}
.dropdown-menu > li > a:focus {
    background-color: #96858F;
}
/* Add a gray background color and some padding to the footer */


.carousel-inner img {
    width: 100%; /* Set width to 100% */
    margin: auto;
    min-height:200px;
}

/* Hide the carousel text when the screen is less than 600 pixels wide */
@media (max-width: 600px) {
    .carousel-caption {
        display: none; 
    }
}

/*footer*/
.footer-basic-centered{
    background-color: #37474F;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: center;
    padding: 0px;

}
.footer-basic-centered .footer-links{
    padding: 35px 0 23px;

}

.footer-basic-centered .footer-links a{
    display:inline-block;
    text-decoration: none;
    font-size: 1.3em;
    margin-left:1em;
    margin-right:1em;
    color: #BDBDBD;
}
.footer-basic-centered .footer-links a:hover{
    display:inline-block;
    text-decoration: none;
    font-size: 1.3em;
    margin-left:1em;
    margin-right:1em;
    color: white;
}

.modal-dialog.modal-lg{
    width: 90%;
}

.container{
    margin-top: 2em;
    margin-bottom: 2em;
}

/*------- CSS RICERCA --------*/
.searchimg{
    width:70%;
    height:70%;
}

.row.search{
    margin-top: .5em;
    margin-bottom: .5em;
}
.searchtitlearticle{
    font-weight: bold;
}

.input-group{
    width: 100%;
    float: right;
    margin-top: .5em;
}

@media only screen and (min-width : 768px) {
    .input-group{
        width: 15%;
        float: right;
        margin-top: .5em;
    }
}
/*------- FINE CSS RICERCA --------*/

@media (max-width: 600px) {
    .footer-basic-centered{
        padding: 35px;
    }

    .footer-basic-centered .footer-company-motto{
        font-size: 18px;
    }

    .footer-basic-centered .footer-company-name{
        font-size: 12px;
    }

    .footer-basic-centered .footer-links{
        font-size: 14px;
        padding: 25px 0 20px;
    }

    .footer-basic-centered .footer-links a{
        line-height: 1.8;
        color: white;

    }
    #path{
        width: 100%;
        padding-left: 2em;
    }

    #path p{
        margin-top: 3px;
        margin-bottom: 3px;
        font-size: .8em;
    }

    .input-group{
        width: 100%;
    }

    .container{
        margin-top: 2em;
        margin-bottom: 2em;
    }


}