/*---------CSS PER LA STAMPA---------*/
.navbar, .carousel, .footer-basic-centered,.pagination,#tagcloud{
    display: none;
}
.container{
    width: auto;
}
body, .contaner{
    background: none;
    color: #000;
    font-family: serif;
}